
<br>

<p>{{{interactive_download_welcome}}}</p>

<br>

<div data-role="selectors"></div>

<div class="row">

    <div class="col-lg-8">
        <div data-role="options"></div>
    </div>

    <div class="col-lg-4">
        <div class="row">
            <div class="col-lg-12">
                <button class="btn btn-primary pull-right" data-role="export">
                    <i class="fa fa-download"></i> {{download_csv}}
                </button>
                <button class="btn btn-primary pull-right" data-role="preview">
                    <i class="fa fa-search"></i> {{preview}}
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p class="pull-right">
                    <a target="_blank" href="https://en.wikipedia.org/wiki/Comma-separated_values"><i class="fa fa-info-circle"></i> {{what_is_a_csv}}</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 pull-right">
    </div>
</div>

<div data-role="output-area"></div>