
<p>{{{interactive_download_welcome}}}</p>

<div data-role="selectors"></div>

<div class="row">

    <div class="col-lg-8">
        <div data-role="options"></div>
    </div>

    <div class="col-lg-4">
        <button class="btn btn-primary pull-right" data-role="export">
            <i class="fa fa-download"></i> {{download_as}}
        </button>
        <button class="btn btn-primary pull-right" data-role="preview">
            <i class="fa fa-search"></i> {{preview}}
        </button>
    </div>
</div>

<div data-role="output-area"></div>