[submodule "js/modules/faostat-tree"]
	path = js/modules/faostat-tree
	url = https://github.com/FAOSTAT3/faostat-tree.git
[submodule "js/modules/faostat-download-options"]
	path = js/modules/faostat-download-options
	url = https://github.com/FAOSTAT3/faostat-download-options.git
[submodule "js/modules/faostat-bulk-downloads"]
	path = js/modules/faostat-bulk-downloads
	url = https://github.com/FAOSTAT3/faostat-bulk-downloads.git
